* {
  box-sizing: border-box;
}
body {
  background-image: url(https://ak.picdn.net/shutterstock/videos/14592946/thumb/1.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.header {
  text-align: center;
  color: white;
}
.content {
  background-color: rgb(75, 70, 70, 0.9);
  color: white;
  width: 50%;
  margin: 70px auto;
  padding: 40px 40px 40px 80px;
}
#name,
#email,
#gender,
#number,
#education,
#hours {
  width: 60em;
  height: 30px;
  border-radius: 6px;
}
label {
  display: inline-block;
}
ul {
  list-style: none;
}
#comments {
  width: 60em;
  height: 100px;
  border-radius: 6px;
  padding: 10px;
}
button {
  position: absolute;
  left: 45%;
  width: 10em;
  height: 2em;
}
